<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
        <title>{{title}}</title>
    </head>
    
    <body>
        {{{body}}}
    </body>
</html>