<div class="span-all-cols span-3-rows flex justify-space-around align-items-centre bg-green bold-xxlg">
    {{jumbo_content}}
    <form class="flex gap-half">
        <input type="text" name="word" class="xlg radius-half" />
        <button type="submit" class="bold-lg radius-half">Search</button>
    </form>
</div>