<div class="span-all-cols span-3-rows flex-aCentre-around bg-green B-xxlg">
    {{jumbo_content}}
    <form class="flex gap-half">
        <input type="text" name="word" class="xlg radius-half" />
        <button type="submit" class="B-lg radius-half">Search</button>
    </form>
</div>