<div class="span-all-grid-col flex justify-space-between bg-red">
    <ul class="flex gap-1rem justify-space-around no-bullets">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>

    </ul>
    <ul class="flex gap-1rem justify-space-around no-bullets">
        <li>
            <a href="/log_in">Log in</a>
        </li>
        <li>
            <a href="/sign_up">Sign up</a>
        </li>
    </ul>
</div>