<div class="flex justify-space-between align-centre {{bg}} span-all-grid-columns">
    <ul class="flex justify-space-around no-bullets">
        <li class="p-half">Home</li>
        <li class="p-half">About</li>
    </ul>

    <ul class="flex justify-space-around no-bullets">
        <li class="p-half">Sign up</li>
        <li class="p-half">Log in</li>
    </ul>
</div>