<table class="table">
    <thead>
        <tr class="row">
            <th class="col">First Name</th>
            <th class="col">Surname</th>
            <th class="col">Email</th>
            <th class="col">Profile Pic</th>
        </tr>
    </thead>

    <tbody>
        <tr class="row">
            <td class="col">{{member.firsName}}</td>
            <td class="col">{{member.surname}}</td>
            <td class="col">{{member.email}}</td>
            <td class="col"><img src={{image}} class="img-responsive img-thumbnail" /></td>
        </tr>
    </tbody>
</table>