<table class="table">
    <thead>
        <tr scope="row">
            <th scope="col">Member#</th>
            <th scope="col">First Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
        </tr>
    </thead>

    <tbody>
        {{#each members}}
        <tr scope="row">
            <td scope="col">{{memberId}}</td>
            <td scope="col">{{firstName}}</td>
            <td scope="col">{{surname}}</td>
            <td scope="col">{{email}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>