*.align-items-centre {
    align-items: center;
}


*.bg-green {
    background-color: green;
}


*.bg-grey {
    background-color: gray;
}


*.flex {
    display: flex;
}


*.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10rem 2rem;
}


*.justify-space-around {
    justify-content: space-around;
}


*.justify-space-between {
    justify-content: space-between;
}


*.no-bullets {
    list-style: none;
}


*.p-1 {
    padding: 1rem !important;
}


*.p-half {
    padding: 0.5rem;
}


*.span-all-grid-columns {
    grid-column: 1/-1;
}
