*.bg-black {
    background-color: black;
}

*.bg-green {
    background-color: #28a745;
}

*.bg-grey {
    background-color: grey;
}

*.bg-red {
    background-color: #dc3545;
}

*.bg-white {
    background-color: white;
}

*.white {
    color: white;
}