*.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

*.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

*.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

*.grid-5 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

*.grid-6 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

*.grid-7 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

*.grid-8 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

*.grid-9 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
}

*.grid-10 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

*.grid-11 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
}

*.grid-12 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}





*.grid-2-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

*.grid-2-3 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

*.grid-2-4 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

*.grid-2-5 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

*.grid-2-6 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

*.grid-2-7 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

*.grid-2-8 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

*.grid-2-9 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

*.grid-2-10 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

*.grid-2-11 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

*.grid-2-12 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

*.grid-2-13 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

*.grid-2-14 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

*.grid-2-15 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(15, 1fr);
}

*.grid-2-16 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

*.grid-2-17 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(17, 1fr);
}

*.grid-2-18 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(18, 1fr);
}

*.grid-2-19 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(19, 1fr);
}

*.grid-2-20 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

*.grid-3-2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

*.grid-3-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

*.grid-3-4 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

*.grid-3-5 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

*.grid-3-6 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

*.grid-3-7 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

*.grid-3-8 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

*.grid-3-9 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

*.grid-3-10 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

*.grid-3-11 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

*.grid-3-12 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

*.grid-3-13 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

*.grid-3-14 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

*.grid-3-15 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(15, 1fr);
}

*.grid-3-16 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

*.grid-3-17 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(17, 1fr);
}

*.grid-3-18 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(18, 1fr);
}

*.grid-3-19 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(19, 1fr);
}

*.grid-3-20 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

*.grid-4-2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

*.grid-4-3 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

*.grid-4-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

*.grid-4-5 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

*.grid-4-6 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

*.grid-4-7 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

*.grid-4-8 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

*.grid-4-9 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

*.grid-4-10 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

*.grid-4-11 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

*.grid-4-12 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

*.grid-4-13 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

*.grid-4-14 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

*.grid-4-15 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(15, 1fr);
}

*.grid-4-16 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

*.grid-4-17 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(17, 1fr);
}

*.grid-4-18 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(18, 1fr);
}

*.grid-4-19 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(19, 1fr);
}

*.grid-4-20 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

*.grid-5-2 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

*.grid-5-3 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

*.grid-5-4 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

*.grid-5-5 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

*.grid-5-6 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

*.grid-5-7 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

*.grid-5-8 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

*.grid-5-9 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

*.grid-5-10 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

*.grid-5-11 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

*.grid-5-12 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

*.grid-5-13 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

*.grid-5-14 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

*.grid-5-15 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(15, 1fr);
}

*.grid-5-16 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

*.grid-5-17 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(17, 1fr);
}

*.grid-5-18 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(18, 1fr);
}

*.grid-5-19 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(19, 1fr);
}

*.grid-5-20 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

*.grid-6-2 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

*.grid-6-3 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

*.grid-6-4 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

*.grid-6-5 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

*.grid-6-6 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

*.grid-6-7 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

*.grid-6-8 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

*.grid-6-9 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

*.grid-6-10 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

*.grid-6-11 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

*.grid-6-12 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

*.grid-6-13 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

*.grid-6-14 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

*.grid-6-15 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(15, 1fr);
}

*.grid-6-16 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

*.grid-6-17 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(17, 1fr);
}

*.grid-6-18 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(18, 1fr);
}

*.grid-6-19 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(19, 1fr);
}

*.grid-6-20 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

*.grid-7-2 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

*.grid-7-3 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

*.grid-7-4 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

*.grid-7-5 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

*.grid-7-6 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

*.grid-7-7 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

*.grid-7-8 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

*.grid-7-9 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

*.grid-7-10 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

*.grid-7-11 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

*.grid-7-12 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

*.grid-7-13 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

*.grid-7-14 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

*.grid-7-15 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(15, 1fr);
}

*.grid-7-16 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

*.grid-7-17 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(17, 1fr);
}

*.grid-7-18 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(18, 1fr);
}

*.grid-7-19 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(19, 1fr);
}

*.grid-7-20 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

*.grid-8-2 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

*.grid-8-3 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

*.grid-8-4 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

*.grid-8-5 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

*.grid-8-6 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

*.grid-8-7 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

*.grid-8-8 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

*.grid-8-9 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

*.grid-8-10 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

*.grid-8-11 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

*.grid-8-12 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

*.grid-8-13 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

*.grid-8-14 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

*.grid-8-15 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(15, 1fr);
}

*.grid-8-16 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

*.grid-8-17 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(17, 1fr);
}

*.grid-8-18 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(18, 1fr);
}

*.grid-8-19 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(19, 1fr);
}

*.grid-8-20 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

*.grid-9-2 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

*.grid-9-3 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

*.grid-9-4 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

*.grid-9-5 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

*.grid-9-6 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

*.grid-9-7 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

*.grid-9-8 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

*.grid-9-9 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

*.grid-9-10 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

*.grid-9-11 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

*.grid-9-12 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

*.grid-9-13 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

*.grid-9-14 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

*.grid-9-15 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(15, 1fr);
}

*.grid-9-16 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

*.grid-9-17 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(17, 1fr);
}

*.grid-9-18 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(18, 1fr);
}

*.grid-9-19 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(19, 1fr);
}

*.grid-9-20 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

*.grid-10-2 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

*.grid-10-3 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

*.grid-10-4 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

*.grid-10-5 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

*.grid-10-6 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

*.grid-10-7 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

*.grid-10-8 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

*.grid-10-9 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

*.grid-10-10 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

*.grid-10-11 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

*.grid-10-12 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

*.grid-10-13 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

*.grid-10-14 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

*.grid-10-15 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(15, 1fr);
}

*.grid-10-16 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

*.grid-10-17 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(17, 1fr);
}

*.grid-10-18 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(18, 1fr);
}

*.grid-10-19 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(19, 1fr);
}

*.grid-10-20 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

*.grid-11-2 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

*.grid-11-3 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

*.grid-11-4 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

*.grid-11-5 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

*.grid-11-6 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

*.grid-11-7 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

*.grid-11-8 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

*.grid-11-9 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

*.grid-11-10 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

*.grid-11-11 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

*.grid-11-12 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

*.grid-11-13 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

*.grid-11-14 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

*.grid-11-15 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(15, 1fr);
}

*.grid-11-16 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

*.grid-11-17 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(17, 1fr);
}

*.grid-11-18 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(18, 1fr);
}

*.grid-11-19 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(19, 1fr);
}

*.grid-11-20 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

*.grid-12-2 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

*.grid-12-3 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

*.grid-12-4 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

*.grid-12-5 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

*.grid-12-6 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

*.grid-12-7 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

*.grid-12-8 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

*.grid-12-9 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

*.grid-12-10 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

*.grid-12-11 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

*.grid-12-12 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

*.grid-12-13 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

*.grid-12-14 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

*.grid-12-15 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(15, 1fr);
}

*.grid-12-16 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

*.grid-12-17 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(17, 1fr);
}

*.grid-12-18 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(18, 1fr);
}

*.grid-12-19 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(19, 1fr);
}

*.grid-12-20 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(20, 1fr);
}





*.span-2-cols {
	grid-column: span 2;
}

*.span-3-cols {
	grid-column: span 3;
}

*.span-4-cols {
	grid-column: span 4;
}

*.span-5-cols {
	grid-column: span 5;
}

*.span-6-cols {
	grid-column: span 6;
}

*.span-7-cols {
	grid-column: span 7;
}

*.span-8-cols {
	grid-column: span 8;
}

*.span-9-cols {
	grid-column: span 9;
}

*.span-10-cols {
	grid-column: span 10;
}

*.span-11-cols {
	grid-column: span 11;
}

*.span-12-cols {
	grid-column: span 12;
}

*.span-all-cols {
    grid-column: 1/-1;
}





*.span-2-rows {
	grid-row: span 2;
}

*.span-3-rows {
	grid-row: span 3;
}

*.span-4-rows {
	grid-row: span 4;
}

*.span-5-rows {
	grid-row: span 5;
}

*.span-6-rows {
	grid-row: span 6;
}

*.span-7-rows {
	grid-row: span 7;
}

*.span-8-rows {
	grid-row: span 8;
}

*.span-9-rows {
	grid-row: span 9;
}

*.span-10-rows {
	grid-row: span 10;
}

*.span-11-rows {
	grid-row: span 11;
}

*.span-12-rows {
	grid-row: span 12;
}

*.span-13-rows {
	grid-row: span 13;
}

*.span-14-rows {
	grid-row: span 14;
}

*.span-15-rows {
	grid-row: span 15;
}

*.span-16-rows {
	grid-row: span 16;
}

*.span-17-rows {
	grid-row: span 17;
}

*.span-18-rows {
	grid-row: span 18;
}

*.span-19-rows {
	grid-row: span 19;
}

*.span-20-rows {
	grid-row: span 20;
}

*.span-all-rows {
	grid-row: 1/-1;
}