@import "colour.css";
@import "flex.css";
@import "grid.css";
@import "margin.css";
@import "padding.css";
@import "position.css";
@import "typography.css";



#log_in:target {
    visibility: visible;
}

#sign_up:target {
    visibility: visible;
}

body {
    margin: 0;
    padding: 0;
}


*.absolute {
    position: absolute;
}


*.sticky {
    position: sticky;
}

*.fixed {
    position: fixed;
}


*.align-items-centre {
    align-items: center;
}



*.centre-content {
    text-align: center;
}


*.circle {
    border-radius: 50%;
}


*.radius-half {
    border-radius: 0.5rem !important;
}

*.radius-1rem {
    border-radius: 1rem;
}


*.box-sizing-border {
    box-sizing: border-box;
}


*.block {
    display: block;
}




*.fs-lg {
    font-size: large;
}


*.gap-1rem {
    gap: 1rem;
}

*.gap-5px {
    gap: 5px;
}

*.gap-half {
    gap: 0.5rem;
}


*.hide {
    display: none;
}




*.h-100p {
    height: 100%;
}

*.h-100vh {
    height: 100vh;
}


*.no-bullets {
    list-style: none;
}

*.no-decoration {
    text-decoration: none;
}



.opacity-80 {
    opacity: 0.8;
}



*.visible {
    visibility: visible;
}

*.invisible {
    visibility: hidden;
}







*.w-0 {
    width: 0;
}

*.w-49 {
    width: 49%;
}

*.w-50 {
    width: 50%;
}

*.w-75 {
    width: 75%;
}

*.w-100 {
    width: 100%;
}


a {
    text-decoration: none;
}
