*.B {
    font-weight: bold;
}

*.BI {
    font-weight: bold;
    font-style: italic;
}

*.BIU {
    font-weight: bold;
    font-style: italic;
}


*.B-lg {
    font-weight: bold;
    font-size: large;
}


*.B-xlg {
    font-weight: bold;
    font-size: x-large;
}


*.B-xxlg {
    font-weight: bold;
    font-size: xx-large;
}


*.I {
    font-style: italic;
}


*.lg {
    font-size: large;
}


*.lg-plus {
    font-size: larger;
}


*.small {
    font-size: small;
}


*.xlg {
    font-size: x-large;
}


*.xxlg {
    font-size: xx-large;
}

