*.bold {
    font-weight: bold;
}

*.italic {
    font-style: italic;
}

*.lg {
    font-size: large;
}

*.lg-plus {
    font-size: larger;
}

*.small {
    font-size: small;
}

*.xlg {
    font-size: x-large;
}

*.xxlg {
    font-size: xx-large;
}