<!DOCTYPE html>
<html>
    <head>
        <link href="/public/style.css" rel="stylesheet" />
        <title>{{title}}</title>
    </head>

    <body class="grid-12-20 h-100vh gap-5px">
        {{{body}}}
    </body>
</html>