<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <ul class="navbar-nav">
        {{#each navItems}}
            <li class="nav-item">
                <a href="/{{this}}" class="nav-link">{{this}}</a>
            </li>
        {{/each}}
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="/members" class="nav-link">Members</a>
        </li>
    </ul>
</nav>