<table class="table">
    <thead>
        {{#with member}}
        <tr scope="row">
            <td scope="col">{{firstName}}</td>
            <td scope="col">{{surname}}</td>
            <td scope="col">{{email}}</td>
        </tr>
        {{/with}}
    </thead>
</table>