{{>jumbotron headline="EFAS" jumboBG="bg-danger"}}
{{>navbar}}

<button class="btn btn-primary" id="visitorsBtn">Show Visitors</button>
<div id="visitorsDiv"></div>

<script src="/public/jquery/home.js"></script>