
<table class="table">
    <thead>
        <tr class="row">
            <th class="col">First Name</th>
            <th class="col">Surname</th>
            <th class="col">Email</th>
            <th class="col">Picture</th>
        </tr>
    </thead>

    <tbody>
        {{#each members}}
        <tr class="row">
            <td class="col">{{firstName}}</td>
            <td class="col">{{surname}}</td>
            <td class="col">{{email}}</td>
            <td class="col"> {{profilePic}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>