<div class="flex justify-space-between align-items-centre span-all-cols bg-grey">
    <ul class="flex justify-space-between align-items-centre no-bullets">
        <li class="p-half">Home</li>
        <li class="p-half">About</li>
    </ul>

    <ul class="flex justify-space-between align-items-centre no-bullets">
        <li class="p-half">Sign up</li>
        <li class="p-half">Log in</li>
    </ul>
</div>