<div class="span-all-cols span-3-rows flex-aCentre-around bg-green">
    <div class="B-xxlg">{{jumbo_content}}</div>

    <form class="flex gap-1rem">
        <input class="lg radius-half" type="text" name="word" placeholder="Look up a word" />
        <button class="B-lg radius-half" type="submit">Search</button>
    </form>
</div>