<div class="span-all-cols span-3-rows flex-aCentre-around {{bg_colour}}">

    <span class="B-xxlg">{{jumbo_title}}</span>

    <form action="/look_up" class="flex" method="POST">
        <input type="search" name="word" placeholder="Look up a word" class="xlg" />
        <button class="B-xlg">&#128269;</button>
    </form>

</div>