<div class="span-all-cols span-3-rows flex justify-space-around align-items-centre bg-green">
    <div class="bold xxlg">{{jumbo_content}}</div>

    <form class="flex gap-1rem">
        <input class="lg radius-half" type="text" name="word" placeholder="Look up a word" />
        <button class="lg br-half-rem bold" type="submit">Search</button>
    </form>
</div>