<div class="bg-black absolute invisible grid-12-20 h-100vh w-100 opacity-80" id="log_in">
    <form class="span-cols-5-9 span-rows-8-13 bg-white radius-1rem flex-col-jCentre gap-1rem">
        <input type="email" name="email" class="B-xlg radius-half" placeholder="Email" />
        <input type="password" name="password" class="B-xlg radius-half" placeholder="Password" />
        <div class="flex-around">
            <button type="submit" class="B-xlg radius-half bg-green">Submit</button>
            <button class="bg-red radius-half"><a href="#" class="B-xlg white">Cancel</a></button>
        </div>
    </form>
</div>