<div class="span-all-cols flex-between bg-red">
    <ul class="flex-around gap-1rem no-bullets">
        {{#each left_nav}}
            <li>
                <a href={{this}} class="B">{{@key}}</a>
            </li>
        {{/each}}
    </ul>
    <ul class="flex-around gap-1rem no-bullets">
        {{#each right_nav}}
            <li>
                <a href={{this}} class="B">{{@key}}</a>
            </li>
        {{/each}}
    </ul>
</div>