<div class="span-all-cols flex justify-space-between bg-red">
    <ul class="flex justify-space-around gap-1rem no-bullets">
        {{#each left_nav}}
            <li>
                <a href={{this}} class="bold">{{@key}}</a>
            </li>
        {{/each}}
    </ul>
    <ul class="flex justify-space-around gap-1rem no-bullets">
        {{#each right_nav}}
            <li>
                <a href={{this}} class="bold">{{@key}}</a>
            </li>
        {{/each}}
    </ul>
</div>