<div class="absolute top-left-corner w-100pt h-100vh bg-black opacity-80 invisible grid-12-20" id="sign_up">
    <form action="/sign_up" method="POST" class="span-rows-8-14 span-cols-5-9 bg-white gap-half radius-1 flex-col-jCentre" >
        <div class="grid-2 gap-half">
            <input type="text" name="first_name" placeholder="First Name" class="xlg"/>
            <input type="text" name="surname" placeholder="Surname" class="xlg"/>
        </div>

        <input type="email" name="email" placeholder="Email" class="xlg"/>
        <input type="password" name="password" placeholder="Password" class="xlg" />
        
        <div class="flex-around">
            <button type="submit" class="xlg">Submit</button>
            <button type="button"><label for="sign_up" class="xlg">Cancel</label></button>
        </div>
    </form>

</div>