<!DOCTYPE html>
<html>
    <head>
        <script src="/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    </head>

    <body>
        {{{body}}}
    </body>
</html>