<div class="span-all-cols span-3-rows flex justify-space-around align-items-centre bg-green">
    <div class="bold xxlg">{{jumbo_content}}</div>

    <form class="flex gap-1rem">
        <input class="lg br-half-rem" type="text" name="email" placeholder="Email" />
        <input class="lg br-half-rem" type="password" name="password" placeholder="Password" />
        <button class="lg br-half-rem bold" type="submit">Log in</button>
    </form>
</div>