<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/css/style.css" />
        {{title}}
    </head>
    <body class="grid-12-20 h-100vh">
        {{{body}}}
    </body>
</html>